<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        input[type=text],
        input[type=number],
        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        div {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Add Product</h1>
    <div>
        <form action="/products/add" method="post">
            <% if (errors) { %>
                <% errors.split(',').forEach(el => { %>
                     <p style="color: red;"><%= el %></p>
                <% }) %>
            <% } %>
            <label for="name">Product Name</label>
            <input type="text" id="name" name="name" placeholder="ex: Tolak Angin">

            <label for="description">Description</label>
            <input type="text" id="description" name="description"
                placeholder="Describe your product in less than 255 characters">

            <label for="price">Price</label>
            <input type="number" id="price" name="price" placeholder="Has to be greater than 0">

            <label for="category">Category</label>
            <select id="category" name="CategoryId">
                <option selected disabled>Choose a category</option>
                <% result.forEach(el=> { %>
                    <option value="<%= el.id %>"> <%= el.name %> </option>
                    <% }) %>
            </select>

            <label for="imgUrl">Add an image</label>
            <input type="text" id="imgUrl" name="imgUrl"
                placeholder="Insert a picture link">

            <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>